@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {

  --color1: hsla(202, 20%, 92%, 1);
  --color2: hsla(212, 51%, 31%, 1);
  --color3: hsla(204, 39%, 55%, 1);
  --color4: hsla(207, 74%, 79%, 1);
  --color5: hsla(80, 1%, 54%, 1);

  background-color: var(--color4);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: var(--color1);
  border: solid 2px var(--color2);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: var(--color1);
  border: solid 2px var(--color2);
}

#select {
  height: 40px;
}

img {
  height: 300px;
  width: 300px;
  border: solid var(--color3) 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: solid 2px black;
  font-family: 'Shrikhand', cursive;
  background-color: var(--color2);
  color: var(--color4);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
